<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find gen0_main)/maps/san_test1.yaml"/>

 <!--- Run AMCL --> 
   <include file="$(find gen0_main)/launch/gen0_amcl.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find gen0_main)/config/navigation_stack/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find gen0_main)/config/navigation_stack/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find gen0_main)/config/navigation_stack/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gen0_main)/config/navigation_stack/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find gen0_main)/config/navigation_stack/teb_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="4.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />

 </node>

</launch> 